{% extends "master" %}

{% block content %}

<div class="app">
  <nav class="app__nav">
    <div class="top-nav">
    <h2 class="plus">+</h2>
    <button> type="button" name="button"></button>
    </div>
  </nav>

  <main class="app__main">
    <div class="container">


        <div class="main">
          <div class="photo-container">

          </div>

        </div>


      </div>
    </main>
  </div>

  {% endblock %}
