{% extends "master" %}

{% block content %}

<div class="app">
  <nav class="__banner">
    <div class="banner__inner">
      <h1>+</h1>
    </div>
  </nav>

  <main class="app__main">
    <div class="container">


        <div class="main">
          <div class="photo-container">

          </div>

        </div>


      </div>
    </main>
  </div>

  {% endblock %}
